In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.utils import shuffle
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [26]:
# importa dataset
df = pd.read_csv (r'/Users/tthia/Desktop/healthcare-dataset-stroke-data.csv')

In [130]:
# retira os valores NaN de BMI (unica coluna com NaN)
df = df.loc[df['bmi'].notnull()]
df.head()

len(df.loc[df['stroke']==1])

209

In [37]:
# converter colunas de texto para tipo categorico devido não ser possível gerar o modelo com valores de texto
df['gender']         = df['gender'].astype('category')
df['ever_married']   = df['ever_married'].astype('category')
df['work_type']      = df['work_type'].astype('category')
df['Residence_type'] = df['Residence_type'].astype('category')
df['smoking_status'] = df['smoking_status'].astype('category')

In [38]:
# adiciona valores númericos para as colunas categorizadas 
df['gender']         =df['gender'].astype('category').cat.codes
df['ever_married']   =df['ever_married'].astype('category').cat.codes
df['work_type']      =df['work_type'].astype('category').cat.codes
df['Residence_type'] =df['Residence_type'].astype('category').cat.codes
df['smoking_status'] =df['smoking_status'].astype('category').cat.codes

In [39]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,2,1,228.69,36.6,1,1
2,31112,1,80.0,0,1,1,2,0,105.92,32.5,2,1
3,60182,0,49.0,0,0,1,2,1,171.23,34.4,3,1
4,1665,0,79.0,1,0,1,3,0,174.12,24.0,2,1
5,56669,1,81.0,0,0,1,2,1,186.21,29.0,1,1

In [40]:
# embaralha dataset e arredonda idades 
df = shuffle(df)
df.age.round()
df['age'] = df['age'].apply(np.int64)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
2605,35152,1,10,0,0,0,4,1,76.92,15.8,0,0
1117,9415,0,69,0,0,1,3,1,80.85,29.3,1,0
163,20426,0,78,1,0,0,2,1,203.87,45.7,2,1
4624,27276,0,45,0,0,1,2,1,78.91,34.3,0,0
1672,28725,0,28,0,0,0,2,0,89.24,32.7,1,0

In [117]:
# Recortamos as colunas que contém os valores para calculo da distância euclidiana
X = df.iloc[:, 1:-1].values

# Recortamos as colunas que contém os resultados
y = df.iloc[:, 11].values

In [124]:
# Cria df de treino
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [169]:
# Escalamos o modelo
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [170]:
# Classificamos o modelo
classifier = KNeighborsClassifier(n_neighbors=2)
classifier = classifier.fit(X_train, y_train)

In [171]:
# Testamos a amostra criada anteriormente
y_pred = classifier.predict(X_test)

In [174]:
# Criamos a matriz de confusão para avaliar o modelo
from sklearn.metrics import classification_report, confusion_matrix
clf = pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)
print(clf)
print(classification_report(y_test, y_pred))

Predicted     0  1   All
True
0          1402  4  1406
1            66  1    67
All        1468  5  1473
              precision    recall  f1-score   support

           0       0.96      1.00      0.98      1406
           1       0.20      0.01      0.03        67

    accuracy                           0.95      1473
   macro avg       0.58      0.51      0.50      1473
weighted avg       0.92      0.95      0.93      1473

In [173]:
clf = pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)
print(clf)

Predicted     0  1   All
True
0          1402  4  1406
1            66  1    67
All        1468  5  1473